@font-face{
    font-family: 'olympic';
    src: url('fonts/olympiccarrierchromeital.ttf');
}

@font-face{
    font-family: 'Roboto';
    src: url('fonts/Roboto.ttf');
}

body{
    background-image: url("../images/AdobeStock_235492190_web_0.png");
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    margin-top:0;
    margin-left: 0;
}

#palka{
    position: absolute;
    min-width: 26%;
    height: 0px;
    left: 24px;
    top: 117px;
    margin-left: 0 px;
    border: 2px solid #FA00FF;
    margin-bottom: 0;
}

#dialogues{
    font-size: 75px;
    line-height: 67px;
    background-color: rgba(67, 23, 87, 0.5);
    float: left;
    width: 30%;
    height: 100vh;
    border-right: 3px solid #943597;
}

#main{
    margin-left:30%;
    background-color: rgba(67, 23, 87, 0);
}

#chats{
    font-family: olympic;
    color:  #EB00FF;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    word-wrap: break-word;
}

#searchbar{
    padding-top: 15%;
    
    color: red;
    
}

#search{
    background: #741C51;
    border-color: #741C51;
    border-radius: 9px;
    margin-left: 5%;
    width: 60%;
    height: 30px;
    margin-top:10%;
}
#search_in{
    background: #741C51;
    border-color: #741C51;
    border-radius: 9px;
    width: 80%;
    height: 30px;
}

.help{
    vertical-align: bottom;
    display: inline;
    cursor: pointer;
}
#help{
    vertical-align: bottom;
    display: inline;
}

#search_friends{
    position: absolute;
    width: 30%;
    height: 70%;
    left: 10%;
    top: 25%;
    display: none;
    background: #401556;
    border: 2px solid #00C2FF;
    box-sizing: border-box;
    border-radius: 27px;
    text-align: center;
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    color: #FFFFFF;
}

#search_button{
    margin-top: 10%;
    border-color: #741C51;
    background-color: #741C51;
    border-radius: 9px;
    width: 25%;
    height: 25px;
}

#messange_block{
    align: center;
    width: 60%;
    height: 99px;
    /* Pink style */

    background: rgba(233, 68, 236, 0.68);
}

#logged_as{
    float: right;
    color: white;
    font-size: 28px;
    line-height: 33px;
    position: absolute;
}


#messages_example{
    height: 111px;
}

#messages{
    padding-top: 10px;
}
#Friends{
    padding-top: 10px;
}

.icon{
    width: 99px;
    height: 99px;
    left: 41px;
    top: 242px;  
}

#user{
    border-bottom: 2px solid #943597;
    border-top: 2px solid #943597;
    min-height: 65px;
    font-size:14px;
    color: white;
    font-style: italic;
    
}

#ava{
    width: 20%;
    float: left;
    border-radius: 30px;
}

#info{
    margin-left: 0;
    height: 10%;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}

#username{
    margin-top: 0px;
    margin-bottom: 0;
    height: 0;
    max-height: 20px;
    font-weight: bold;
}

#last_mess{
    margin-top: 15%;
    margin-bottom: 0;
    height: 1%;
    max-height: 20px;
}

#login{
    min-width: 60px;
    width: 50%;
}

#time{
    float:right;
    
}