body{
        background-image: url("../images/AdobeStock_235492190_web_0.png");
        font-family: Olympic Carrier Chrome Italic;
    font-style: italic;
    font-weight: normal;
    font-size: 75px;
    line-height: 67px;
}
#palka{
    position: absolute;
    width: 568px;
    height: 0px;
    left: 24px;
    top: 117px;

    border: 2px solid #FA00FF;
}
